.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: block !important;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
.bar .expand {
  transform: translateY(0%) !important;
}
.fade {
  opacity: 0;
}
.fade.fade-in {
  opacity: 1 !important;
}
.slide {
  transform: translateY(-100%);
}
.slide.slide-in {
  transform: translateY(0%) !important;
}
.crawl-up {
  top: 5rem;
}
.crawl-up.up {
  top: 0 !important;
}
.crawl-down {
  bottom: 10rem;
}
.crawl-down.down {
  bottom: 0 !important;
}
.scale {
  transform: scale(0);
}
.scale.scale-up {
  transform: scale(1) !important;
}
.hide {
  display: none !important;
}
@keyframes scrolled {
  0% {
    height: 25px;
  }
  50% {
    height: 0;
  }
  100% {
    height: 25px;
  }
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: whitesmoke;
}
::-webkit-scrollbar-thumb {
  background: #323232;
  border-radius: 10px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
h1 {
  font-family: 'PT Serif', serif;
}
p {
  font-weight: 300;
}
html {
  font-family: 'Poppins', sans-serif;
}
html body {
  background-color: #EFE6D5;
}
html body .splash-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/hero-image.jpg');
  background-size: cover;
  background-position: center;
  transition: all 0.7s ease-in;
}
html body .splash-screen .block-content {
  border: solid #EFE6D5;
  border-width: 2px;
  text-align: center;
  justify-self: center;
  align-self: center;
  padding: 0 1rem;
}
@media only screen and (min-width: 768px) {
  html body .splash-screen .block-content {
    border-width: 3px;
    padding: 0.5rem 3rem;
  }
}
@media only screen and (min-width: 1366px) {
  html body .splash-screen .block-content {
    padding: 1.5rem 12rem;
  }
}
html body .splash-screen .block-content h5 {
  color: #EFE6D5;
  font-size: 0.6rem;
  padding-top: 1rem;
}
@media only screen and (min-width: 768px) {
  html body .splash-screen .block-content h5 {
    font-size: 0.7rem;
  }
}
@media only screen and (min-width: 1366px) {
  html body .splash-screen .block-content h5 {
    font-size: 0.9rem;
    padding-top: 1.5rem;
  }
}
html body .splash-screen .block-content h1 {
  color: #ffffff;
  font-size: 5rem;
  font-weight: 400;
  font-family: 'Parisienne', cursive;
  transition: all 1.2s ease-in-out;
  letter-spacing: 5px;
}
@media only screen and (min-width: 768px) {
  html body .splash-screen .block-content h1 {
    font-size: 7rem;
    letter-spacing: 10px;
  }
}
@media only screen and (min-width: 1366px) {
  html body .splash-screen .block-content h1 {
    font-size: 9rem;
  }
}
html body .top-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 50;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 0.5rem 1rem;
  transition: all 1s ease-in;
}
@media only screen and (min-width: 768px) {
  html body .top-bar {
    padding: 1.5rem 3rem 0.5rem;
  }
}
html body .top-bar .grid {
  display: grid;
}
html body .top-bar .left-nav {
  transition: all 0.5s ease-in-out;
}
html body .top-bar .left-nav a {
  font-weight: 500;
  color: #323232;
  align-self: center;
  justify-self: start;
  font-size: 0.9rem;
  transition: all 0.5s ease-out;
}
@media only screen and (min-width: 768px) {
  html body .top-bar .left-nav a {
    font-size: 0.85rem;
  }
}
@media only screen and (min-width: 1366px) {
  html body .top-bar .left-nav a {
    font-size: 1rem;
  }
}
html body .top-bar .left-nav a:hover {
  opacity: 0.5;
}
html body .top-bar .block-logo {
  font-family: 'Parisienne', cursive;
}
html body .top-bar .block-logo h4 {
  align-self: center;
  justify-self: center;
  font-weight: 400;
  font-size: 1.9rem;
  transition: all 0.4s ease-out;
  overflow: hidden;
}
@media only screen and (min-width: 2560px) {
  html body .top-bar .block-logo h4 {
    font-size: 2.5rem;
  }
}
html body .top-bar .block-logo h4:hover {
  letter-spacing: 2px;
}
html body .top-bar .block-logo h4 a {
  color: #323232;
  text-decoration: none;
}
html body .top-bar .right-nav {
  transition: all 0.5s ease-in-out;
}
html body .top-bar .right-nav i {
  padding: 1rem;
  padding-right: 0;
  align-self: center;
  justify-self: end;
  transition: all 0.5s ease-out;
  font-size: 18px;
}
@media only screen and (min-width: 1366px) {
  html body .top-bar .right-nav i {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1440px) {
  html body .top-bar .right-nav i {
    font-size: 24px;
  }
}
html body .top-bar .right-nav i:hover {
  cursor: pointer;
  opacity: 0.5;
}
html body .bottom-bar {
  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: 50;
  display: grid;
  grid-template-areas: "nav";
  padding: 0.5rem 1rem 1.5rem;
  padding-top: 0;
}
@media only screen and (min-width: 768px) {
  html body .bottom-bar {
    padding: 1.5rem 3rem;
  }
}
@media only screen and (min-width: 1366px) {
  html body .bottom-bar {
    padding: 2rem 3rem;
  }
}
html body .bottom-bar .center-bar {
  grid-area: nav;
  align-self: end;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
html body .bottom-bar .center-bar:before {
  content: "";
  height: 15px;
  width: 1px;
  background-color: #323232;
  position: relative;
  animation: scrolled 5s infinite;
}
html body .bottom-bar .center-bar p {
  font-weight: 600;
  font-size: 0.85rem;
}
@media only screen and (min-width: 1366px) {
  html body .bottom-bar .center-bar p {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 2560px) {
  html body .bottom-bar .center-bar p {
    font-size: 1.15rem;
  }
}
html body .bottom-bar .right-nav {
  grid-area: nav;
  align-self: end;
  justify-self: end;
  transition: all 0.5s ease-in-out;
}
html body .bottom-bar .right-nav ul li {
  display: inline-block;
}
html body .bottom-bar .right-nav ul li a {
  color: #323232;
  font-weight: 600;
  font-size: 0.8rem;
  padding: 1rem;
  padding-right: 0;
}
@media only screen and (min-width: 1366px) {
  html body .bottom-bar .right-nav ul li a {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 2560px) {
  html body .bottom-bar .right-nav ul li a {
    font-size: 1.15rem;
  }
}
html body header {
  height: auto;
  display: grid;
  grid-template-areas: "head";
  z-index: 10;
  padding: 4rem 0;
}
@media only screen and (min-width: 768px) {
  html body header {
    height: 100vh;
    padding: unset;
  }
}
html body header .loader {
  grid-area: head;
  height: 100vh;
  width: 100%;
  display: flex;
}
html body header .loader .bar {
  background-color: #EFE6D5;
  width: 25%;
  transition: transform 0.8s ease-in;
}
html body header .loader .bar:nth-child(1) {
  transition-delay: 0;
}
@media only screen and (min-width: 768px) {
  html body header .loader .bar:nth-child(1) {
    transition-delay: 425ms;
  }
}
html body header .loader .bar:nth-child(2) {
  transition-delay: 0;
}
@media only screen and (min-width: 768px) {
  html body header .loader .bar:nth-child(2) {
    transition-delay: 275ms;
  }
}
html body header .loader .bar:nth-child(3) {
  transition-delay: 0;
}
@media only screen and (min-width: 768px) {
  html body header .loader .bar:nth-child(3) {
    transition-delay: 125ms;
  }
}
html body header .contents {
  grid-area: head;
  align-self: center;
  justify-self: center;
  margin-top: 2rem;
}
html body header .contents .block-intro {
  text-align: center;
}
html body header .contents .block-intro h1 {
  overflow: hidden;
  font-weight: 700;
  font-size: 1.2rem;
}
@media only screen and (min-width: 768px) {
  html body header .contents .block-intro h1 {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 1366px) {
  html body header .contents .block-intro h1 {
    font-size: 1.8rem;
  }
}
@media only screen and (min-width: 1440px) {
  html body header .contents .block-intro h1 {
    font-size: 2.5rem;
  }
}
html body header .contents .block-intro h1 span {
  position: relative;
  overflow: hidden;
  transition: all 1s ease-in-out;
}
html body header .contents .block-intro div {
  transition: all 1.5s ease-in-out;
}
html body header .contents .block-intro div p {
  margin-top: 1rem;
  font-size: 0.7rem;
  opacity: 0.6;
}
@media only screen and (min-width: 768px) {
  html body header .contents .block-intro div p {
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 1366px) {
  html body header .contents .block-intro div p {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1440px) {
  html body header .contents .block-intro div p {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 2560px) {
  html body header .contents .block-intro div p {
    font-size: 1.5rem;
  }
}
html body header .contents .block-gallery {
  margin-top: 3rem;
  display: grid;
  grid-template-areas: "content";
}
@media only screen and (min-width: 768px) {
  html body header .contents .block-gallery {
    margin-top: 5rem;
  }
}
html body header .contents .block-gallery:before {
  content: " ";
  align-self: center;
  justify-self: center;
  height: 100%;
  width: 1px;
  background-color: #323232;
  grid-area: content;
}
@media only screen and (min-width: 768px) {
  html body header .contents .block-gallery:before {
    height: 1px;
    width: 100%;
  }
}
html body header .contents .block-gallery .wrapper {
  grid-area: content;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  html body header .contents .block-gallery .wrapper {
    flex-direction: row;
  }
}
html body header .contents .block-gallery .wrapper .img {
  height: 10rem;
  width: 10rem;
  margin: 0.3rem;
  background-size: cover;
}
@media only screen and (min-width: 768px) {
  html body header .contents .block-gallery .wrapper .img {
    height: 7rem;
    width: 7rem;
  }
}
@media only screen and (min-width: 1366px) {
  html body header .contents .block-gallery .wrapper .img {
    height: 10rem;
    width: 10rem;
    margin: 0.5rem;
  }
}
@media only screen and (min-width: 1440px) {
  html body header .contents .block-gallery .wrapper .img {
    height: 14rem;
    width: 14rem;
    margin: 1rem;
  }
}
@media only screen and (min-width: 2560px) {
  html body header .contents .block-gallery .wrapper .img {
    height: 18rem;
    width: 18rem;
    margin: 2rem;
  }
}
html body header .contents .block-gallery .wrapper .img:hover {
  cursor: pointer;
  transform: scale(1.05);
}
html body header .contents .block-gallery .wrapper .img:nth-child(1) {
  background-image: url('../img/header/img-01.jpg');
  background-position: center 50%;
}
html body header .contents .block-gallery .wrapper .img:nth-child(2) {
  background-image: url('../img/header/img-02.jpg');
  background-position: center 50%;
}
html body header .contents .block-gallery .wrapper .img:nth-child(3) {
  background-image: url('../img/header/img-03.jpg');
  background-position: center 50%;
}
html body header .contents .block-gallery .wrapper .img:nth-child(4) {
  background-image: url('../img/header/img-04.jpg');
  background-position: center 50%;
}
html body header .contents .block-gallery .wrapper .img:nth-child(5) {
  background-image: url('../img/header/img-05.jpg');
  background-position: center 50%;
}
html body header .contents .block-gallery .wrapper .long {
  width: 12rem;
}
@media only screen and (min-width: 768px) {
  html body header .contents .block-gallery .wrapper .long {
    width: 10rem;
    height: 10rem;
  }
}
@media only screen and (min-width: 1366px) {
  html body header .contents .block-gallery .wrapper .long {
    height: 13rem;
    width: 13rem;
  }
}
@media only screen and (min-width: 1440px) {
  html body header .contents .block-gallery .wrapper .long {
    height: 17rem;
    width: 17rem;
  }
}
@media only screen and (min-width: 2560px) {
  html body header .contents .block-gallery .wrapper .long {
    height: 22rem;
    width: 22rem;
  }
}
html body main {
  display: none;
  padding: 0;
}
@media only screen and (min-width: 1366px) {
  html body main {
    padding: 3rem;
  }
}
html body main section {
  padding: 3rem 0;
  margin: 2rem 0;
}
@media only screen and (min-width: 768px) {
  html body main section {
    padding: 4rem 0;
  }
}
@media only screen and (min-width: 1366px) {
  html body main section {
    padding: 8rem 0;
  }
}
html body main section.halfed {
  display: grid;
  grid-template-areas: "text" "photo";
}
@media only screen and (min-width: 1366px) {
  html body main section.halfed {
    grid-template-areas: "text photo";
    grid-template-columns: repeat(2, 1fr);
  }
}
html body main section.inversed {
  display: grid;
  grid-template-areas: "text" "photo";
}
@media only screen and (min-width: 1366px) {
  html body main section.inversed {
    grid-template-areas: "photo text";
    grid-template-columns: repeat(2, 1fr);
  }
}
html body main section .block-content {
  grid-area: text;
}
html body main section .block-content .block-title {
  text-align: center;
}
@media only screen and (min-width: 1366px) {
  html body main section .block-content .block-title {
    text-align: left;
  }
}
html body main section .block-content .block-title h1 {
  padding: 1rem;
  color: #AB986E;
}
html body main section .block-content .block-title h1 em {
  font-weight: 400;
  font-size: 2rem;
  z-index: 2;
  top: 1rem;
}
@media only screen and (min-width: 768px) {
  html body main section .block-content .block-title h1 em {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 1366px) {
  html body main section .block-content .block-title h1 em {
    font-size: 5rem;
  }
}
@media only screen and (min-width: 1440px) {
  html body main section .block-content .block-title h1 em {
    font-size: 6rem;
  }
}
html body main section .block-content .block-title h1 span {
  color: #ffffff;
  font-family: 'Alex Brush', cursive;
  font-weight: 400;
  font-size: 6rem;
  bottom: 1rem;
  left: 0;
}
@media only screen and (min-width: 1366px) {
  html body main section .block-content .block-title h1 span {
    font-size: 10rem;
  }
}
@media only screen and (min-width: 1440px) {
  html body main section .block-content .block-title h1 span {
    font-size: 12rem;
  }
}
@media only screen and (min-width: 2560px) {
  html body main section .block-content .block-title h1 span {
    font-size: 16rem;
  }
}
html body main section .block-content .block-text {
  text-align: center;
}
@media only screen and (min-width: 1366px) {
  html body main section .block-content .block-text {
    text-align: left;
  }
}
html body main section .block-content .block-text p {
  opacity: 0.7;
  font-size: 0.8rem;
}
@media only screen and (min-width: 1366px) {
  html body main section .block-content .block-text p {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 1440px) {
  html body main section .block-content .block-text p {
    font-size: 1.3rem;
  }
}
html body main section .block-photo {
  grid-area: photo;
}
html body main #sect-about {
  display: grid;
  grid-template-areas: "text";
}
html body main #sect-about .block-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
html body main #sect-about .block-content .block-title {
  text-align: center;
}
html body main #sect-about .block-content .block-title h1 {
  padding: 0;
}
html body main #sect-about .block-content .block-title h1 em {
  position: relative;
  left: 3rem;
  top: 0;
}
@media only screen and (min-width: 1366px) {
  html body main #sect-about .block-content .block-title h1 em {
    left: 3rem;
  }
}
html body main #sect-about .block-content .block-title h1 span {
  position: relative;
  right: 3rem;
  bottom: 0;
  left: unset;
}
@media only screen and (min-width: 1366px) {
  html body main #sect-about .block-content .block-title h1 span {
    right: 3rem;
  }
}
html body main #sect-about .block-content .block-text {
  width: 75%;
}
@media only screen and (min-width: 1366px) {
  html body main #sect-about .block-content .block-text {
    width: 50%;
  }
}
html body main #sect-about .block-content .block-text p {
  text-align: center;
}
html body main #sect-gallery .block-content .block-title h1 em {
  position: relative;
  top: 3rem;
  left: 0;
}
@media only screen and (min-width: 768px) {
  html body main #sect-gallery .block-content .block-title h1 em {
    top: 0;
    left: 5rem;
  }
}
@media only screen and (min-width: 1366px) {
  html body main #sect-gallery .block-content .block-title h1 em {
    top: 3rem;
    left: unset;
  }
}
html body main #sect-gallery .block-content .block-title h1 span {
  position: relative;
  bottom: 2rem;
  right: 3rem;
}
@media only screen and (min-width: 768px) {
  html body main #sect-gallery .block-content .block-title h1 span {
    bottom: 0;
    right: 5rem;
    left: unset;
  }
}
@media only screen and (min-width: 1366px) {
  html body main #sect-gallery .block-content .block-title h1 span {
    bottom: 3rem;
    left: 7rem;
  }
}
