// out: ../css/index.css


//////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////
// MATERIAL ICONS :
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: block !important;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}


//////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////
// MEDIA BREAKPOINTS :
@xsmall:  ~"only screen and (min-width: 320px)";
@small:  ~"only screen and (min-width: 375px)";
@lsmall:  ~"only screen and (min-width: 425px)";
@medium:  	~"only screen and (min-width: 768px)";
@large:   	~"only screen and (min-width: 1366px)";
@xlarge:  	~"only screen and (min-width: 1440px)";
@xxlarge: 	~"only screen and (min-width: 2560px)";


//////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////
// TRANSITIONS :
@ease: ease;
@easeIn: ease-in;
@easeOut: ease-out;
@easeInOut: ease-in-out;


//////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////
// COLOR PALETTE :
@primaryDarkColor: #AB986E;
@primaryColor: #EFE6D5;

@lightColor: #ffffff;
@darkColor: #323232;


//////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////
// FONTS FAMILIES :
@fontParisienne: 'Parisienne', cursive;
@fontPT: 'PT Serif', serif;
@fontAlex: 'Alex Brush', cursive;
@fontPoppins: 'Poppins', sans-serif;

// FONT WEIGHTS :
@fontLight: 300;
@fontRegular: 400;
@fontMedium: 500;
@fontSemiBold: 600;
@fontBold: 700;


//////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////
// ANIMATION CLASSES :
.bar {
    .expand {
        transform: translateY(0%) !important;
    }
}

.fade {
    opacity: 0;

    &.fade-in {
        opacity: 1 !important;
    }
}

.slide {
    transform: translateY(-100%);
    &.slide-in {
        transform: translateY(0%) !important;
    }
}

.crawl-up {
    top: 5rem;
    &.up {
        top: 0 !important;
    }
}
.crawl-down {
    bottom: 10rem;
    &.down {
        bottom: 0 !important;
    }
}

.scale {
    transform: scale(0.6);
    &.scale-up {
        transform: scale(1);
    }
}



.hide {
    display: none !important;
}


////////////////////////////
// KEYFRAMES :
@keyframes scrolled {
    0% {
        height: 25px;
    }
    50% {
        height: 0;
    }
    100% {
        height: 25px;
    }
}

@keyframes glitter {
    0% {
        transform: scale(0.98);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.98);
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////
// GLOBAL HTMLS :
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background-color: whitesmoke;
}
::-webkit-scrollbar-thumb {
    background: @darkColor;
    border-radius: 10px;
}


//////////////////////////////

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    transition: all 0.7s @easeIn;
}

a {
    text-decoration: none;
}

h1 {
    font-family: @fontPT;
}

p {
    font-weight: @fontLight;
    font-size: 0.8rem;
        @media @large {
            font-size: 1rem;
            white-space: nowrap;
        }
        @media @xlarge {
            font-size: 1.3rem;
            white-space: unset;
        }
}



//////////////////////////////
// ALIKE CLASSES :
.img {
    transition: transform 0.6s @easeInOut;
    &:hover {
        cursor: pointer;
        transform: scale(0.985);
    }
}

.block-button {
    font-family: @fontPoppins;
    font-weight: @fontSemiBold;
    a {
        background-color: @primaryDarkColor;
        color: @lightColor;
        font-size: .7rem;
        padding: 0.5rem 1.5rem;
        filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.25));
        transition: all .5s @ease;
        &:hover {
            border-radius: 0.5rem;
        }
        @media @medium {
            padding: 0.7rem 1.5rem;
        }
        @media @large {
            font-size: 0.8rem;
            padding: 1rem 2.5rem;
        }
        @media @xxlarge {
            font-size: 1rem;
        }
    }
}

.block-title {
    text-align: center;
    @media @large {
        text-align: left;
    }
    h1 {
        padding: 1rem;
        color: @primaryDarkColor;
        em {
            font-weight: @fontRegular;
            font-size: 2rem;
            z-index: 2;
            top: 1rem;
            @media @medium {
                font-size: 3rem;
            }
            @media @xlarge {
                font-size: 5rem;
            }
            @media @xlarge {
                font-size: 6rem;
            }
        }
        span {
            color: @lightColor;
            font-family: @fontAlex;
            font-weight: @fontRegular;
            font-size: 6rem;
            bottom: 1rem;
            left: 0;
            @media @large {
                font-size: 9rem;
            }
            @media @xlarge {
                font-size: 12rem;
            }
            @media @xxlarge {
                font-size: 16rem;
            }
        }
    }
}

.block-text {
    text-align: center;
    @media @large {
        text-align: left;
    }
    p {
        opacity: 0.7;
    }
}

.block-gallery {
    display: grid;
}

//////////////////////////////
// HTML STRUCTURE :
html {
    font-family: @fontPoppins;
    scroll-behavior: smooth;

    body {
        background-color: @primaryColor;
        .splash-screen {
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            display: grid;
            background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/splash/hero-image.jpg');
            background-size: cover;
            background-position: center;
            transition: all 0.7s @easeIn;
            .block-content {
                border: solid @primaryColor;
                border-width: 2px;
                text-align: center;
                justify-self: center;
                align-self: center;
                padding: 0 1rem;
                @media @medium {
                    border-width: 3px;
                    padding: 0.5rem 3rem;
                }
                @media @large {
                    padding: 1.5rem 12rem;
                }
                h5 {
                    color: @primaryColor;
                    font-size: 0.6rem;
                    padding-top: 1rem;
                    @media @medium {
                        font-size: 0.7rem;
                    }
                    @media @large {
                        font-size: 0.9rem;
                        padding-top: 1.5rem;
                    }
                }

                h1 {
                    color: @lightColor;
                    font-size: 5rem;
                    font-weight: @fontRegular;
                    font-family: @fontParisienne;
                    transition: all 1.2s @easeInOut;
                    letter-spacing: 5px;
                    @media @medium {
                        font-size: 7rem;
                        letter-spacing: 10px;
                    }
                    @media @large {
                        font-size: 9rem;
                    }
                }
            }
        }

        .top-bar {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 50;
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;
            transition: all 1s @easeIn;
            @media @medium {
                padding: 0.5rem 2rem;
            }
            .grid {
                display: grid;
            }

            .left-nav {
                transition: all 0.5s @easeInOut;
                a {
                    padding: 1rem;
                    font-weight: @fontMedium;
                    color: @darkColor;
                    align-self: center;
                    justify-self: start;
                    font-size: 0.7rem;
                    transition: all 0.5s @easeOut;
                    &:hover {
                        opacity: 0.5;
                    }
                    @media @medium {
                        font-size: 0.85rem;
                    }
                    @media @large {
                        font-size: 1rem;
                    }
                    @media @xxlarge {
                        font-size: 1.2rem;
                    }
                }
            }

            .block-logo {
                font-family: @fontParisienne;
                h4 {
                    align-self: center;
                    justify-self: center;
                    font-weight: @fontRegular;
                    font-size: 1.5rem;
                    transition: all 0.4s @easeOut;
                    overflow: hidden;
                    @media @medium {
                        font-size: 1.9rem;
                    }
                    @media @xxlarge {
                        font-size: 2.5rem;
                    }
                    &:hover {
                        letter-spacing: 2px;
                    }
                    a {
                        color: @darkColor;
                        text-decoration: none;
                    }
                }
            }

            .right-nav {
                transition: all 0.5s @easeInOut;
                i {
                    padding: 1rem;
                    align-self: center;
                    justify-self: end;
                    transition: all 0.5s @easeOut;
                    font-size: 18px;
                    @media @large {
                        font-size: 20px;
                    }
                    @media @xlarge {
                        font-size: 24px;
                    }
                    &:hover {
                        cursor: pointer;
                        opacity: 0.5;
                    }
                }
            }
        }

        .bottom-bar {
            position: fixed;
            bottom: 0;
            width: 100vw;
            z-index: 50;
            display: grid;
            grid-template-areas: "nav";
            padding: 0.5rem 1rem 1.5rem;
            @media @medium {
                padding: 1.5rem 3rem;
            }
            @media @large {
                padding: 2rem 3rem;
            }
            .center-bar {
                grid-area: nav;
                align-self: end;
                justify-self: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                transition: all 0.5s @easeInOut;
                &:before {
                    content: "";
                    height: 15px;
                    width: 1px;
                    background-color: @darkColor;
                    position: relative;
                    animation: scrolled 5s infinite;
                }
                p {
                    font-weight: @fontSemiBold;
                    font-size: 0.75rem;
                    @media @medium {
                        font-size: 0.85rem;
                    }
                    @media @large {
                        font-size: 1rem;
                    }
                    @media @xxlarge {
                        font-size: 1.15rem;
                    }
                }
            }
            .right-nav {
                grid-area: nav;
                align-self: end;
                justify-self: end;
                transition: all 0.5s @easeInOut;
                ul {
                    li {
                        display: inline-block;
                        a {
                            color: @darkColor;
                            font-weight: @fontSemiBold;
                            font-size: 0.7rem;
                            padding: 0.5rem;
                            @media @medium {
                                font-size: 0.8rem;
                            }
                            @media @xlarge {
                                font-size: 1rem;
                            }
                            @media @xxlarge {
                                font-size: 1.15rem;
                            }
                        }
                    }
                }
            }
        }

        header {
            height: 100vh;
            display: grid;
            grid-template-areas: "head";
            z-index: 10;
            @media @medium {
            }
            .loader {
                grid-area: head;
                height: 100vh;
                width: 100%;
                display: flex;
                .bar {
                    background-color: @primaryColor;
                    width: 25%;
                    transition: transform 0.8s @easeIn;
                    &:nth-child(1) {
                        transition-delay: 0;
                        transition-delay: 275ms;
                        @media @medium {
                            transition-delay: 425ms;
                        }
                    }
                    &:nth-child(2) {
                        transition-delay: 0;
                        transition-delay: 275ms;
                    }
                    &:nth-child(3) {
                        transition-delay: 0;
                        @media @medium {
                            transition-delay: 125ms;
                        }
                    }
                }
            }

            .contents {
                grid-area: head;
                align-self: center;
                justify-self: center;
                margin-top: 6rem;
                @media @xlarge {
                    margin-top: 11rem;
                }
                @media @xxlarge {
                    margin-top: 15rem;
                }
                .block-intro {
                    text-align: center;
                    h1 {
                        overflow: hidden;
                        font-weight: @fontBold;
                        font-size: 1.2rem;
                        @media @medium {
                            font-size: 1.5rem;
                        }
                        @media @large {
                            font-size: 1.8rem;
                        }
                        @media @xlarge {
                            font-size: 2.5rem;
                        }
                        span {
                            position: relative;
                            overflow: hidden;
                            transition: all 2s @easeInOut;
                        }
                    }
                    div {
                        transition: all 1.5s @easeInOut;
                        p {
                            margin-top: 1rem;
                            font-size: 0.7rem;
                            opacity: 0.6;
                            @media @medium {
                                font-size:0.8rem;
                            }
                            @media @large {
                                font-size: 1rem;
                            }
                            @media @xlarge {
                                font-size: 1.2rem;
                            }
                            @media @xxlarge {
                                font-size: 1.5rem;
                            }
                        }
                    }
                }

                .block-gallery {
                    margin-top: 3rem;
                    grid-template-areas: "content";
                    transition: all 0.5s @easeInOut;
                    @media @medium {
                        margin-top: 5rem;
                    }
                    &:before {
                        content: " ";
                        align-self: center;
                        justify-self: center;
                        height: 1px;
                        width: 100%;
                        background-color: @darkColor;
                        grid-area: content;
                        transition: all 1s @ease;
                    }
                    .wrapper {
                        grid-area: content;
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        @media @medium {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-evenly;
                            align-items: center;
                        }
                        .img {
                            height: 8rem;
                            width: 8rem;
                            margin: .3rem;
                            background-size: cover;
                            animation: glitter 3s infinite;
                            transition: opacity 1.1s @easeInOut, transform 1.12s @easeInOut;
                            @media @medium {
                                height: 7rem;
                                width: 7rem;
                            }
                            @media @large {
                                height: 10rem;
                                width: 10rem;
                                margin: .5rem;
                            }
                            @media @xlarge {
                                height: 14rem;
                                width: 14rem;
                                margin: 1rem;
                            }
                            @media @xxlarge {
                                height: 18rem;
                                width: 18rem;
                                margin: 2rem;
                            }
                            &:nth-child(1) {
                                background-image: url('../img/header/img-01.jpg');
                                background-position: center 50%;
                                animation-delay: 2500ms;
                            }
                            &:nth-child(2) {
                                background-image: url('../img/header/img-02.jpg');
                                background-position: center 50%;
                                animation-delay: 1750ms;
                            }
                            &:nth-child(3) {
                                background-image: url('../img/header/img-03.jpg');
                                background-position: center 50%;
                            }
                            &:nth-child(4) {
                                background-image: url('../img/header/img-04.jpg');
                                background-position: center 50%;
                                animation-delay: 500ms;
                            }
                            &:nth-child(5) {
                                background-image: url('../img/header/img-05.jpg');
                                background-position: center 50%;
                                animation-delay: 3500ms;
                                display: none;
                                @media @medium {
                                    display: block;
                                }
                            }
                        }
                        .long {
                            width: 8rem;
                            @media @medium {
                                width: 10rem;
                                height: 13rem;
                            }
                            @media @large {
                                height: 17rem;
                                width: 13rem;
                            }
                            @media @xlarge {
                                height: 22rem;
                                width: 17rem;
                            }
                            @media @xxlarge {
                                height: 27rem;
                                width: 22rem;
                            }
                        }
                    }
                }
            }
        }


        main {
            display: none;
            padding: 0;
            transition: all 0.5s ease;
            @media @large {
                padding: 3rem;
            }
            section {
                padding: 3rem 1rem;
                margin: 2rem 0;
                @media @medium {
                    padding: 4rem 2rem;
                }
                @media @large {
                    padding: 8rem 0;
                }
                &.halfed {
                    display: grid;
                    grid-template-areas: "text"
                                         "photo";
                    @media @large {
                        grid-template-areas: "text photo";
                        grid-template-columns: repeat(2, 1fr);
                    }
                }
                &.inversed {
                    display: grid;
                    grid-template-areas: "text"
                                         "photo";
                    @media @large {
                        grid-template-areas: "photo text";
                        grid-template-columns: repeat(2, 1fr);
                    }
                }

                .block-content {
                    grid-area: text;
                }

                .block-photo {
                    grid-area: photo;
                }
            }


            #sect-about {
                display: grid;
                grid-template-areas: "text";
                .block-content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .block-title {
                        text-align: center;
                        h1 {
                            padding: 0;
                            em {
                                position: relative;
                                left: 3rem;
                                top: 0;
                                @media @large {
                                    left: 3rem;
                                }
                            }
                            span {
                                position: relative;
                                right: 3rem;
                                bottom: 0;
                                left: unset;
                                @media @large {
                                    right: 3rem;
                                }
                            }
                        }
                    }
                    .block-text {
                        p {
                           text-align: center;
                        }
                    }
                    .block-button {
                        margin: 2rem 0;
                        @media @medium {
                            margin: 3rem 0;
                        }
                        @media @xlarge {
                            margin: 5rem 0;
                        }
                    }
                }
            }


            #sect-gallery {
                .block-content {
                    .block-title {
                        h1 {
                            em {
                                position: relative;
                                top: 3rem;
                                left: 0;
                                @media @medium {
                                    top: 0;
                                    left: 5rem;
                                }
                                @media @large {
                                    top: 3rem;
                                    left: unset;
                                }
                                @media @xxlarge {
                                    top: -6rem;
                                }
                            }
                            span {
                                position: relative;
                                bottom: 2rem;
                                right: 3rem;
                                @media @medium {
                                    bottom: 0;
                                    right: 5rem;
                                    left: unset;
                                }
                                @media @large {
                                    bottom: 3rem;
                                    left: 7rem;
                                }
                                @media @xxlarge {
                                    bottom: 0rem;
                                    left: -14rem;
                                }
                            }
                        }
                    }
                    .block-text {
                        @media @large {
                        }
                    }
                }
            }

            #sect-products {
                .block-content {
                    .block-title {
                        h1 {
                            em {
                                position: relative;
                                top: 3rem;
                                left: 0;
                                @media @medium {
                                    top: 0;
                                    left: 5rem;
                                }
                                @media @large {
                                    top: 3rem;
                                    left: unset;
                                }
                                @media @xlarge {
                                    top: 0;
                                }
                            }
                            span {
                                position: relative;
                                bottom: 2rem;
                                right: 3rem;
                                @media @medium {
                                    top: 0;
                                    left: -4rem;
                                    bottom: 0;
                                    right: unset;
                                }
                                @media @large {
                                    top: 5rem;
                                    left: -8rem;
                                }
                                @media @xlarge {
                                    top: 3rem;
                                    left: -8rem;
                                }
                                @media @xxlarge {
                                    top: 6rem;
                                    left: -14rem;
                                }
                            }
                        }
                    }
                }

                .block-halfed {
                    display: grid;
                    grid-template-rows: repeat(2, 1fr);
                    grid-template-columns: 1fr;
                    grid-template-areas: "photo" "text";
                    grid-gap: 1rem;
                    padding: 1rem 0;
                    @media @medium {
                        padding: 5rem 0;
                        grid-template-columns: repeat(2, 1fr);
                        grid-template-areas: "text photo";
                        grid-template-rows: 1fr;
                    }
                    .block-gallery {
                        .wrapper {
                            display: grid;
                            grid-template-areas: "one one"
                                                 "two two"
                                                 "three three";
                            grid-template-columns: repeat(2, 1fr);
                            grid-gap: 1rem;
                            @media @medium {
                                grid-template-areas: "one two"
                                                    "three two";
                                grid-template-columns: repeat(2, 1fr);
                                grid-template-rows: repeat(2, 10rem);
                                position: sticky;
                                top: 5rem;
                                height: 60%;
                            }
                            @media @large {
                                grid-template-areas: "one two"
                                                    "three two";
                                grid-template-columns: repeat(2, 1fr);
                                grid-template-rows: auto;
                                height: auto;
                            }
                            .img {
                                width: 100%;
                                height: 10rem;
                                margin: 0 1rem;
                                justify-self: center;
                                background-size: cover;
                                transition: all 0.7s @ease;
                                @media @large {
                                    height: 25rem;
                                }
                                &:nth-child(1) {
                                    grid-area: one;
                                    background-image: url('../img/products/one.jpg');
                                    background-position: center;
                                }
                                &:nth-child(2) {
                                    grid-area: two;
                                    height: 10rem;
                                    background-image: url('../img/products/two.jpg');
                                    background-position: center 50%;
                                    transition-delay: 500ms;
                                    @media @medium {
                                        height: 21rem;
                                    }
                                    @media @large {
                                        height: 100%;
                                    }
                                }
                                &:nth-child(3) {
                                    grid-area: three;
                                    background-image: url('../img/products/three.jpg');
                                    background-position: center 90%;
                                    transition-delay: 250ms;
                                }
                            }
                        }
                    }
                    .block-photo {
                        display: grid;
                        grid-template-areas: "contents";
                        .block-content {
                            grid-area: contents;
                            width: 100%;
                            justify-self: center;
                            align-self: start;
                            @media @medium {
                                width: 85%;
                            }
                            @media @large {
                                width: 60%;
                                position: sticky;
                                top: 5rem;
                            }
                            li {
                                list-style: none;
                                border-bottom: 2px solid @primaryDarkColor;
                                padding: 1rem 0;
                                &:nth-child(2) {
                                    transition-delay: 250ms;
                                }
                                &:nth-child(3) {
                                    transition-delay: 500ms;
                                }
                                p {
                                    opacity: 0.7;
                                    @media @large {
                                        white-space: normal;
                                    }
                                    span {
                                        font-weight: @fontSemiBold;
                                        font-size: 3rem;
                                        color: @primaryDarkColor;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }



        /////////////////////////////////////////////////////////////////////////////////////////////
        /////////////////////////////////////////////////////////////////////////////////////////////
        footer {
            padding: 0;
            padding-bottom: 1rem;
            background-image: linear-gradient(rgba(239, 230, 213, 0.82), rgba(239, 230, 213, 0.82)), url('../img/parallaxe/footer.jpg');
            background-position: center;
            background-size: cover;
            height: 100vh;
            display: grid;
            @media @large {
                padding: 6rem 3rem;
                padding-bottom: 2rem;
                margin: 1.5rem;
            }
            .block-content {
                align-self: center;
                .block-title {
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    &:after {
                        content: "";
                        position: relative;
                        background: @primaryDarkColor;
                        height: 2px;
                        width: 30%;
                        bottom: 2rem;
                    }
                    h1 {
                        padding: 0;
                        em {
                            position: relative;
                            left: 3rem;
                            top: 0;
                            @media @large {
                                left: 3rem;
                            }
                        }
                        span {
                            position: relative;
                            right: 3rem;
                            bottom: 0;
                            left: unset;
                            @media @large {
                                right: 3rem;
                            }
                        }
                    }
                }
                .block-text {
                    text-align: center  ;
                }
            }
            .block-copy {
                align-self: end;
                justify-self: center;
                p {
                    color: @darkColor;
                    opacity: 0.8;
                    font-size: 0.7rem;
                    @media @medium {
                        font-size: 0.8rem;
                    }
                    @media @large {
                        font-size: 0.9rem;
                    }
                    @media @xxlarge {
                        font-size: 1rem;
                    }
                    a {
                        color: @darkColor;
                        font-weight: @fontSemiBold;
                    }
                }
            }
        }
    }
}